<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706145469874-5p5d7cai74u3ke35uurbvp70c6n4tr4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706145469874-5p5d7cai74u3ke35uurbvp70c6n4tr4d</string>
	<key>API_KEY</key>
	<string>AIzaSyDua77TJqQFhuOHUL3U2NWfJEuyK7Iz8FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>706145469874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photospots.app.dev</string>
	<key>PROJECT_ID</key>
	<string>photospots-test</string>
	<key>STORAGE_BUCKET</key>
	<string>photospots-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706145469874:ios:c9a3150e3b0bf3faeb50ab</string>
	<key>DATABASE_URL</key>
	<string>https://photospots-test-default-rtdb.firebaseio.com</string>
</dict>
</plist>